
/* ---------- Media Query 360px ---------- */

@media screen and (max-width: 360px) {
    .header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 0px;

        img{
            display: flex;
            width: 180px;
        }
    }
    .navbar{
        padding-top: 0;
        padding-bottom: 0;

        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 0;
            margin-right: 0px;
            padding-left: 0rem;
        }
        li{
            margin: 6px;
            font-family: Regular;
            font-size: 0.8rem;
        }
    }
    .main{
        h1{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            font-family: Agrandir;
            font-size: 1rem;
            color: #40525d;
            margin: 20px;
        }
        img{
            width: 95vw;
            border-radius: 15px;
        }
    }
    .cards{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .card{
        background-image: url(../media/index-2.png);
        height: 30vh;
        width: 93vw;
        border-radius: 30px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        border: 0;

        h2{
            margin-left: 15px;
            margin-bottom: 10px;
            font-family: Agrandir;
            font-size: 1.2rem;
            color: #f1e8d7;
            z-index: 100;
        }
        p{
            font-family: Regular;
            color: #f1e8d7;
            font-size: 0.6rem;
            line-height: 1rem;
            margin-left: 10px;
        }
    }
    .servicios{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 20px;

        h1{
            display: flex;
            justify-content: center;
            font-family: Agrandir;
            font-size: 1.2rem;
            color: #40525d;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .card-servicios{
        width: 8rem;
        background-color: #40525d;
        border-radius: 20px;
        margin-top: 0px;
        margin-bottom: 15px;

        img{
            border-radius: 20px;
        }
        h2{
            font-family: Agrandir;
            font-size: 2rem;
            color: #f1e8d7;
        }
        p{
            font-family: Regular;
            font-size: 1.2rem;
            color: #f1e8d7;
        }
    }
    .nosotros{
        h1{
            display: flex;
            justify-content: center;
            font-family: Agrandir;
            font-size: 1.2rem;
            color: #40525d;
            margin-top: 20px;
            margin-bottom: 0px;
        }
    }
    .client-logos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        img{
            width: 300px;
            margin: 20px;
            filter: none;
            transition: width 1s;
            & :hover{
                width: 420px;
                filter: none;
            }
        }
    }
    .clientes{
        h2{
            display: flex;
            justify-content: center;
            font-family: Agrandir;
            font-size:1.2rem;
            color: #40525d;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
    .footer{
        background-color: #40525d;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 40px;

        img{
            width: 35px;
            margin: 10px;
        }
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 20px;
            padding-left: 0rem;
        }
        h6{
            color: #f1e8d7;
            font-family: Regular;
            font-size: 1rem;
        }
    }
    .footer-devinfo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: 10px;
    }
    .footer-navbar{
        margin: 0px;
    }
}